@charset "utf-8";

body {
    background-image: url(../images/main-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
}
.container {
    margin: 0 auto;
    text-align: center;
    padding-top: 212px;
    padding-bottom: 194px;
}
.logo {
    width: 340px;
    margin-bottom: 20px;
}
h1, .tel {
    font-size: 50px;
    font-family: din-2014,sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 12px;
}
.text {
    font-weight: bold;
}
.btn {
    color: #fff;
    text-decoration: none;
    padding: 18px 77px;
    border: 1px solid #fff;
    margin-top: 47px;
    margin-bottom: 55px;
    display: inline-block;
}
.btn:hover {
    opacity: 0.7;
}
.station {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 13px;
}
.address {
    font-size: 20px;
    line-height: 1.8;
}
.tel {
    margin-top: 12px;
    margin-bottom: 21px;
}
.sns-text {
    font-size: 14px;
    font-family: din-2014,sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 21px;
}
.sns i {
    color: #fff;
    font-size: 41px;
}
.icon-tw {
    margin-right: 32px;
}


/* ----------- SPç‰ˆ ----------- */
@media (max-width: 640px) {
    body {
        background-position: center;
    }
    .container {
        padding-top: 109px;
        padding-bottom: 67px;
    }
    .logo {
        width: 204px;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 25px;
        letter-spacing: 0.03em;
    }
    .text {
        margin-top: 14px;
        font-size: 12px;
    }
    .btn {
        font-size: 12px;
        padding: 13px 51px;
        margin: 30px 0;
    }
    .station {
        font-size: 15px;
    }
    .address {
        font-size: 12px;
    }
    .tel {
        font-size: 31px;
    }
    .sns-text {
        margin-top: 42px;
        font-size: 10px;
    }
    .sns i {
        font-size: 21px;
    }    
}